Flask==0.10.1
Flask-Babel==0.9
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.1
Flask-Mail==0.9.0
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.3
argparse==1.2.1
itsdangerous==0.23
wsgiref==0.1.2
blinker==1.3
jsonschema==2.0.0
requests==2.0.1
-e git+https://github.com/kennethreitz/requests.git@947375e982482de23bf74eac7d84140126862ac5
# ndg & pyasn required for SNI
ndg-httpsclient==0.3.2
pyasn1==0.1.7
docutils==0.11
# full-text search
Whoosh==2.5.4
