{% extends 'layout.html' %}
{% block page_title %}{% trans %}Page not found{% endtrans %}{% endblock %}
{% block body %}
      <pre style="line-height: 16px;">
                      /\___/\
                      ) . . (
                     =\  -  /=
   ___ _____    ___    )   (
  /   |  _  |  /   |  /     \
 / /| | |/' | / /| |  )     (
/ /_| |  /| |/ /_| | /       \
\___  \ |_/ /\___  | \       /
    |_/\___/     |_/  \__ __/
                         ))
                        //
                       ((
                       \)</pre>
{%- endblock %}
