{% extends 'layout.html' %}
{% block page_title %}{% trans %}Internal error{% endtrans %}{% endblock %}
{% block body %}
      <pre style="line-height: 16px;">

 _____  _____  _____       ,/|         _.--''^``-...___.._.,;
|  ___||  _  ||  _  |     /, \'.     _-'          ,--,,,--'''
|___ \ | |/' || |/' |    { \    `_-''       '    /}
    \ \|  /| ||  /| |     `;;'            ;   ; ;
/\__/ /\ |_/ /\ |_/ / ._.--''     ._,,, _..'  .;.'
\____/  \___/  \___/   (,_....----'''     (,..--''
</pre>
{%- endblock %}
