{% extends "layout.html" %}
{% import "form_macros.html" as fm %}
{% block container %}
    <div class="row">
      <div class="span11 well">
        <form method="post" class="form-horizontal">
          {{ form.csrf_token }}
          <fieldset>
            <legend>{{ _("Edit your ISP") }}</legend>
            <p>To edit your ISP, you need to give us the email provided while registering and we will send you a link to edit it.</p>
            {{ fm.render_field(form.tech_email) }}
            <div class="form-actions">
              <input type="submit" class="btn btn-primary" value="{{ _("Submit") }}" />
              <input type="reset" class="btn" value="{{ _("Cancel") }}" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{%- endblock %}
