{% extends "layout.html" %}
{% block container %}
  <div class="row-fluid">
    <div class="span9">
      <div id="map"></div>
    </div>
    <div class="span3">
      <div class="well well-large" style="padding: 10px;">
        <h4>{{ _("About the database") }}</h4>
        <p>{% trans %}This page was created by the <a href="http://www.ffdn.org/en/">FDN Federation</a> in an effort to gather information about ISPs sharing its values around the world. The FDN Federation unite more than 20 non-profit ISPs in France, all of which are respect and promote <a href="https://en.wikipedia.org/wiki/Network_neutrality">Net Neutrality</a> and are volunteer-based. You can learn more about what we stand for on <a href="http://www.ffdn.org/en/principles">our website</a>.{% endtrans %}</p>
        <p>{% trans %}We hope that this page help you find an ISP near you. If there aren't any, we encourage you to start your own, and come tell us about it.{% endtrans %}</p>
        <p>{% trans %}If you are member of an ISP sharing our values and are interested in appearing on this page, just follow the guide:{% endtrans %}</p>
        <p class="text-center"><a class="btn btn-primary" href="{{ url_for('add_project') }}">{{ _("Add my project") }}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
