<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>FFDN ISP Database</title>
    <!-- meta -->
    <!-- icon
    <link rel="shortcut icon" href="favicon.ico"> -->
    <!-- css -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery.ui.all.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/leaflet.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><span id="ffdn-header"><span>F</span><span>F</span><span>D</span><span>N</span></span> Database</a>
      <div class="nav-collapse collapse">
        <form class="navbar-search pull-right">
          <input type="text" id="search-input" class="search-query input-medium" placeholder="{{ _("Search") }}"/>
        </form>
        <ul class="nav pull-right">
          <li class="active">
          <a href="/">Home</a>
          </li>
          <li><a href="{{ url_for('project_list') }}">Project List</a></li>
          <li><a href="#">Schema</a></li>
          <li><a href="#">API</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-container" class="container">
{% with messages = get_flashed_messages(with_categories="true") %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} fade in">
      <button class="close" data-dismiss="alert">×</button>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{%- block container %}
<h2 class="page-header">{% block page_title %}{% endblock %}</h2>
<div class="container">
{% block body %}{% endblock %}
</div>

{% endblock container %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>

</html>
