{% macro field(name) -%}
<strong>{{ name|capitalize }}</strong>
{%- endmacro %}
{% if isp.shortname -%}
<a href="{{ url_for('project', projectid=isp.id) }}"><strong>{{ isp.shortname }}</strong></a><br />
{{ isp.name }}
{% else -%}
<a href="{{ url_for('project', projectid=isp.id) }}"><strong>{{ isp.name }}</strong></a>
{% endif %}
<ul style="margin: 10px 0 5px 5px; list-style-type: none;">
{%- if isp.json.website %}
<li>{{ field(_("website")) }}: <a href="{{ isp.json.website }}">{{ isp.json.website }}</a></li>
{%- endif %}
{%- if isp.json.email %}
<li>{{ field(_("email")) }}: <a href="mailto:{{ isp.json.email }}"><i class="icon-envelope"></i> {{ isp.json.email }}</a></li>
{%- endif %}
{%- if isp.json.memberCount %}
<li>{{ field(_("members")) }}: {{ isp.json.memberCount }}</li>
{%- endif %}
{%- if isp.json.subscriberCount %}
<li>{{ field(_("subscribers")) }}: {{ isp.json.subscriberCount }}</li>
{%- endif %}
</ul>
