{% extends "layout.html" %}
{% import "form_macros.html" as fm %}
{% block container %}
<div class="row">
  <div class="span11 well">
    <form method="post" class="form-horizontal">
      {{ form.csrf_token }}
      <fieldset>
        <legend>{{ page_title }}</legend>
        {{ fm.render_field(form.tech_email) }}
        <hr />
        {{ fm.render_field(form.name) }}
        {{ fm.render_field(form.shortname) }}
        {{ fm.render_field(form.description) }}
        {{ fm.render_field(form.logo_url) }}
        {{ fm.render_field(form.website) }}
        <div class="control-group{% if form.other_websites.errors %} error{% endif %}">
          <label class="control-label" for="coordinates">{{ form.other_websites.label.text }}</label>
          <div class="controls">
            <ul class="fieldlist">
              {% for c in form.other_websites -%}
              <li>{{ c() }}{{ fm.display_errors(c.flattened_errors) }}</li>
              {%- endfor %}
            </ul>
            {% if form.other_websites.description.1 -%}
            <span class="help-block">{{ form.other_websites.description.1|safe }}</span>
            {%- endif %}
          </div>
        </div>
        {{ fm.render_field(form.contact_email) }}
        {{ fm.render_field(form.main_ml) }}
        {{ fm.render_field(form.creation_date) }}
        {{ fm.render_field(form.step) }}
        {{ fm.render_field(form.member_count, class_="input-small") }}
        {{ fm.render_field(form.subscriber_count, class_="input-small") }}
        {{ fm.render_field(form.chatrooms, class="fieldlist") }}
        <div class="control-group required{% if form.covered_areas.errors %} error{% endif %}">
          <label class="control-label" for="coordinates">{{ form.covered_areas.label.text }}</label>
          <div class="controls">
            <ul class="fieldlist">
              {% for c in form.covered_areas -%}
              <li>{{ c() }}{{ fm.display_errors(c.flattened_errors) }}</li>
              {%- endfor %}
            </ul>
            {% if form.covered_areas.description.1 -%}
            <span class="help-block">{{ form.covered_areas.description.1|safe }}</span>
            {%- endif %}
          </div>
        </div>
        <div class="control-group{% if form.latitude.errors or form.longitude.errors %} error{% endif %}">
          <label class="control-label" for="coordinates">{{ _("Coordinates") }}</label>
          <div class="controls">
            <div class="input-prepend input-append input-middle">
              {{ form.latitude(class="input-small", placeholder=form.latitude.label.text|capitalize) }}
              <span class="add-on">:</span>
              {{ form.longitude(class="input-small", placeholder=form.longitude.label.text|capitalize) }}
            </div>
            {{ fm.display_errors(form.latitude.errors+form.longitude.errors) }}
            {%- if form.latitude.description.1 -%}
            <span class="help-block">{{ form.latitude.description.1|safe }}</span>
            {%- endif %}
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="{{ _("Submit") }}" />
          <input type="reset" class="btn" value="{{ _("Cancel") }}" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
{%- endblock %}
