  {% macro project_list(projects) -%}
  <table class="project-list table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Areas") }}</th>
        <th>{{ _("Step")}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects -%}
      <tr>
        <td><a href="{{ url_for('project', projectid=project.id) }}">{{ project.name|truncate(60, True) }}</a></td>
        <td>{{ ', '.join(project.covered_areas_names())|truncate(30) }}</td>
        <td>
          {{ project.json.progressStatus|step_to_label|safe }}
          {%- if project.is_ffdn_member %}
          &thinsp;<a href="#" rel="tooltip" data-placement="right" title="{{ _("Member of the FDN Federation") }}"><span class="label label-info">FFDN</span></a>
          {%- endif %}
        </td>
        <td><a class="pull-right btn btn-small" title="{{ _("Examine") }}" href="{{ url_for('project', projectid=project.id) }}"><i class="icon-search"></i></a>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {%- endmacro %}
