{% extends "layout.html" %}
{% import "form_macros.html" as fm %}
{% block container %}
<div class="row">
  <div class="span11 well">
    <form method="post" class="form-horizontal">
      {{ form.csrf_token }}
      <fieldset>
        <legend>{{ page_title }}</legend>
        {{ fm.render_field(form.json_url) }}
        {{ fm.render_field(form.tech_email) }}
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="{{ _("Next") }}" />
          <input type="reset" class="btn" value="{{ _("Cancel") }}" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
