{% extends "layout.html" %}
{% block page_title %}{{ _("Project List") }}{% endblock %}
{% block body %}
<div>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Areas") }}</th>
      <th>{{ _("Step")}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects -%}
    <tr>
      <td>{% autoescape false %}{{ project.isFFDNMember | member_to_label }}{% endautoescape %} &nbsp;
        <a href="{{ url_for('project', projectid=project.id) }}">{{ project.name }}</a></td>
      <td>{{ project.zone }}</td>
      {% autoescape false -%}
      <td>{{ project.json.progressStatus|step_to_label }}</td>
      {%- endautoescape %}
      <td><a class="pull-right btn btn-small" href="{{ url_for('project', projectid=project.id) }}"><i class="icon-search"></i></a>
    </tr>
    {% endfor -%}
  </tbody>
</table>
<a class="pull-right btn btn-primary btn-small" href="{{ url_for('add_project') }}">{{ _("Add your project") }}</a>
</div>
{% endblock %}
