{% extends "layout.html" %}
{% block page_title %}
Liste des projets recencés
{% endblock %}
{% block body %}
<div>
<a class="pull-right btn btn-primary btn-small" href="{{ url_for('create_project') }}">Ajoutez le votre !</a>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Zone</th>
      <th>Services</th>
      <th>Étape</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{% autoescape false %}{{ project.is_member | member_to_label }}{% endautoescape %} &nbsp;
        <a href="{{ url_for('project', projectid=project.id) }}">{{ project.name }}</a></td>
      <td>{{ project.zone }}</td>
      <td>{{ project.services }}</td>
      {% autoescape false %}
      <td>{{ project.step | step_to_label }}</td>
      {% endautoescape %}
      <td><a class="pull-right btn btn-small" href="{{ url_for('project', projectid=project.id) }}"><i class="icon-search"></i></a>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="pull-right btn btn-primary btn-small" href="{{ url_for('create_project') }}">Ajoutez le votre !</a>
</div>
{% endblock %}
