
@font-face {
    font-family: 'ffdn';
    src: url('../fonts/ffdn.eot');
    src: url('../fonts/ffdn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ffdn.woff') format('woff'),
         url('../fonts/ffdn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main-container {
    margin-top: 25px;
}

#main-container h2.page-header {
    margin-top: 0;
}

input#search-input {
    position: relative;
    padding-left: 23px;
}

.navbar-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top: 9px;
    left: 8px;
    z-index:99;
    opacity: 0.5;
}

#ffdn-header {
    font-family: ffdn;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: text-bottom;
}

#ffdn-header span {
    display: inline-block;
}

.brand:hover #ffdn-header {
    animation-duration: 0.6s;
    animation-name: lulz1;
}

@keyframes lulz1 {
    0% {
        transform: scaleX(1);
        transform: scaleY(0.5);
    }
    50% {
        transform: scaleX(1.5);
    }
}

/*.brand:hover #ffdn-header span:nth-child(1) {
    animation-duration: 0.6s;
    animation-name: lulz2A;
}

.brand:hover #ffdn-header span:nth-child(2) {
    animation-duration: 0.6s;
    animation-name: lulz2B;
}

.brand:hover #ffdn-header span:nth-child(3) {
    animation-duration: 0.6s;
    animation-name: lulz2C;
}

.brand:hover #ffdn-header span:nth-child(4) {
    animation-duration: 0.6s;
    animation-name: lulz2D;
}

@keyframes lulz2A {
    0% {
        transform: scaleY(1.5);
    }
    37% {
        transform: scaleX(1.0);
    }
}

@keyframes lulz2B {
    25% {
        transform: scaleY(1.5);
    }
    62% {
        transform: scaleX(1.0);
    }
}

@keyframes lulz2C {
    50% {
        transform: scaleY(1.5);
    }
    87% {
        transform: scaleX(1.0);
    }
}

@keyframes lulz2D {
    75% {
        transform: scaleY(1.5);
    }
    100% {
        transform: scaleX(1.0);
    }
}*/

#map {
    height: 600px;
}


.project-choice {
    padding: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.same-height-hack {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.same-height-borderfix {
    margin-top: -15px;
    padding: 0;
}

.project-choice h3 {
    text-align: center;
}



/*
 * Forms & stuff
 */

.control-group.required label:before {
    content: '*';
    color: red;
    padding-right: 5px;
}

.fieldlist, .formfield {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.fieldlist li {
    margin: 0 0 2px 0;
    padding: 0;
}

.formfield li {
    display: inline;
    margin-right: 3px;
}

.formfield li .bootstrap-select {
    width: 190px;
}

.formfield li .bootstrap-select .filter-option {
    font-size: 0.9em !important;
}

.formfield li .bootstrap-select .dropdown-menu li {
    display: list-item;
}

.input-middle input:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-middle input:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-horizontal .help-block {
    margin-top: 0 !important;
}
