
/*
 * Fonts
 */

@font-face {
    font-family: 'ffdn';
    src: url('../fonts/ffdn.eot');
    src: url('../fonts/ffdn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ffdn.woff') format('woff'),
         url('../fonts/ffdn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans');
    src: url('../fonts/dejavusans.eot');
    src: url('../fonts/dejavusans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans.woff') format('woff'),
         url('../fonts/dejavusans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold');
    src: url('../fonts/dejavusans-bold.eot');
    src: url('../fonts/dejavusans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans-bold.woff') format('woff'),
         url('../fonts/dejavusans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Oblique');
    src: url('../fonts/dejavusans-oblique.eot');
    src: url('../fonts/dejavusans-oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans-oblique.woff') format('woff'),
         url('../fonts/dejavusans-oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold Oblique');
    src: url('../fonts/dejavusans-boldoblique.eot');
    src: url('../fonts/dejavusans-boldoblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans-boldoblique.woff') format('woff'),
         url('../fonts/dejavusans-boldoblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

/*
 * Global
 */

html, body {
    height: 100%;
    font-family: 'DejaVu Sans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}

input, button, select, textarea {
    font-family: 'DejaVu Sans';
}

label, input, button, select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input, .btn {
    font-size: 13px;
}

.btn-large {
    font-size: 17px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}

h1 small {
    font-size: 22px;
}

h2 small {
    font-size: 17px;
}

h3 small {
    font-size: 14px;
}

h4 small {
    font-size: 14px;
}

/*
 * Navbar
 */

input#search-input {
    position: relative;
    padding-left: 23px;
}

.navbar-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top: 9px;
    left: 8px;
    z-index:99;
    opacity: 0.5;
}

.navbar .brand {
    font-weight: normal !important;
    padding: 10px 20px 0 20px;
    line-height: 22px;
}

#ffdn-header {
    font-family: ffdn;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: text-bottom;
}

#ffdn-header span {
    display: inline-block;
}

.brand:hover #ffdn-header {
    -webkit-animation: lulz1 0.6s;
    animation: lulz1 0.6s;
}

@keyframes lulz1 {
    0% {
        transform: scaleX(1);
        transform: scaleY(0.5);
    }
    50% {
        transform: scaleX(1.5);
    }
}

@-webkit-keyframes lulz1 {
    0% {
        -webkit-transform: scaleX(1);
        -webkit-transform: scaleY(0.5);
    }
    50% {
        -webkit-transform: scaleX(1.5);
    }
}

.navbar #locale-selector {
    float: right;
    height: 36px;
    padding-top: 4px;
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 200ms;
}

.navbar #locale-selector .flag {
    margin: 0 auto;
}

.navbar #locale-selector:hover {
    opacity: 1;
    transition-duration: 200ms;
}

.navbar #locale-selector .locale-name {
    color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
}

@media (max-width: 979px) {
    .navbar-search:before {
        top: 18px;
        left: 22px;
    }

    .navbar #locale-selector, .navbar .locale-divider {
        display: none;
    }
}


/*
 * Sticky footer
 */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#push {
    height: 160px;
}

footer {
    height: 64px;
    padding-top: 16px;
    background-color: #f3f3f3;
    font-size: 11px;
}

footer .bracket:before {
    content: '{';
    font-family: "DejaVu Sans";
    font-size: 60px;
    float: left;
    margin: 11px 0 0 22px;
    color: #cccccc;
    transition-duration: 300ms;
    cursor: default;
}

footer:hover .bracket:before {
    color: #666666;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

footer p {
    padding: 0;
    margin: 0;
    opacity: 0.4;
    margin-left: 60px;
    line-height: 16px;
    transition-duration: 300ms;
}

footer:hover p {
    opacity: 1;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

@media (max-width: 767px) {
    #push {
        height: 120px;
    }
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*
 * Main
 */

#main-container {
    margin-top: 25px;
}

#main-container .page-header {
    margin-top: 0;
    padding-bottom: 2px;
}

#main-container .page-header h2 {
    margin: 0;
    display: inline;
}

#main-container #homepage .span3 {
    margin-left: 15px;
}

#map {
    height: 600px;
    box-shadow: 0 0 4px #BBBBBB;
}

.leaflet-popup-content {
    margin: 8px 10px 6px 10px;
}

#map .leaflet-control-attribution {
    opacity: 0.8;
    font-size: 10px;
}

#map .legend {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 4px 6px;
}

#map .legend i {
    background: #00aac9;
    height: 8px;
    width: 8px;
    border: 1px solid #333;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 979px) {
    #map {
        height: 500px;
    }
}

@media (max-width: 767px) {
    #map {
        height: 400px;
    }
    #main-container .span3 {
        margin: 15px 0 0;
    }
}

.project-list .btn-small {
    padding-right: 6px;
    padding-left: 6px;
}

.project-choice {
    padding: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.same-height-hack {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.same-height-borderfix {
    margin-top: -15px;
    padding: 0;
}

.project-choice h3 {
    text-align: center;
}



/*
 * Forms & stuff
 */

.control-group.required label:before {
    content: '*';
    color: red;
    padding-right: 5px;
}

.fieldlist, .formfield {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.fieldlist li {
    margin: 0 0 2px 0;
    padding: 0;
}

.formfield li {
    display: inline;
    margin-right: 3px;
}

.formfield li .bootstrap-select {
    width: 190px;
}

.formfield li .bootstrap-select .filter-option {
    font-size: 0.9em !important;
}

.formfield li .bootstrap-select .dropdown-menu li {
    display: list-item;
}

.input-middle input:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-middle input:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-horizontal .help-block {
    margin-top: 0 !important;
}

pre#validator {
    height: 500px;
    background-color: white;
    overflow-x: auto;
    font-size: 12px;
    background-color: #333333;
    color: #ffffff;
}


/**
 * Schema Spec / RST
 */

#format_spec {
    margin-bottom: 30px;
}

.rst .docinfo-name {
    text-align: left;
    padding-right: 7px;
}

.rst .title {
    font-size: 2.2em;
    line-height: normal;
    margin: 0;
}

.rst .subtitle {
    font-size: 1.5em;
    line-height: normal;
    margin: 0 0 25px 0;
}

.rst .section > :first-child {
    margin-top: 15px;
}


/**
 * API
 */

.api-collection .api-doc-resource {
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
}
.api-collection .api-doc-heading {
    background-image: linear-gradient(to bottom, #f0f0f0, #eaeaea);
    border-radius: 4px 4px 0 0;
    padding: 6px 0;
}
.api-collection .api-doc-heading .path {
    color: #666666;
    font-weight: bold;
    font-size: 1.1em;
}
.api-collection .api-doc-body {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.api-collection .api-doc-inner {
    border-top: 1px #e5e5e5 solid;
    padding: 9px 15px;
}
.api-collection .description {
    margin-right: 10px;
    float: right;
}
.api-collection .label {
    margin: 0 5px 0 8px;
    cursor: pointer;
}

