{% extends "layout.html" %}
{% block subtitle %}
Liste des projets recencés
{% endblock %}
{% block body %}
<div>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Zone</th>
      <th>Étape</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.name }}</td>
      <td>{{ project.zone }}</td>
      <td><a href="#" rel="tooltip" data-placement="right" title="{{ project.stepname }}">{{ project.step }}</a></td>
      <td><a class="pull-right btn btn-small" href="{{ url_for('project', projectid=project.id) }}"><i class="icon-search"></i></a>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="pull-right btn btn-primary btn-small" href="">Ajoutez le votre !</a>
</div>
{% endblock %}
